---
layout: page
title: Projects
---

{% assign sorted_projs = site.projects | sort: 'name' %}

<h1>Selected Projects</h1>
{% for proj in sorted_projs reversed %}
  <div class="row publication-badge">
    <div class="publication-pic col-md-2 col-sm-3 col-xs-12 text-left">
      {% if proj.thumbnail.size > 0 %}<img src="{{ proj.thumbnail }}"/>{% endif %}&nbsp;
    </div>
    <div class="publication-info col-md-10 col-sm-9 col-xs-12">
      <h2>{{ proj.title }}</h2>
      <p>{{ proj.description }}</p>
    </div>
  </div>
{% endfor %}