---
layout: default
title: Our Team
---
{% assign pi = site.data.members | where:"id","mariakakis" | first %}
{% assign phd_grads = site.data.members | where:"active",true | where:"degree","PhD" %}
{% assign msc_grads = site.data.members | where:"active",true | where:"degree","MSc" %}
{% assign mscac_grads = site.data.members | where:"active",true | where:"degree","MScAC" %}
{% assign grads = phd_grads | concat: msc_grads | concat: mscac_grads %}
{% assign undergrads = site.data.members | where:"active",true | where:"degree","BS" %}

<div class="our-team-page">

  <h1>Our Team</h1>
  <div class="pi-section mb-5">
    <h2 class="pi-heading">The Principal Investigator</h2>
    <div class="row align-items-center">
      <div class="col-md-3 text-center pi-image-container">
        <img
          src="{{ site.baseurl }}{{ pi.image }}"
          alt="{{ pi.name }}"
          class="img-fluid pi-portrait"
        />
        <h3 class="pi-name">{{ pi.name }}</h3>
        <div class="persona-footer">
          {% include profile_badges.html member=pi%}
        </div>
      </div>

      <div class="col-md-9 pi-bio">
        <p>
          <span style="display:block; margin-top:1rem;"></span>
          Alex Mariakakis is an Assistant Professor in the <a href="https://web.cs.toronto.edu/" target="_blank">Department of Computer
          Science</a> at the <a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>.
          He is also an Affiliate Scientist at <a href="https://www.kite-uhn.com/" target="_blank">KITE Research Institute</a> and an Education Faculty Affiliate within <a href="https://tcairem.utoronto.ca/" target="_blank">T-CAIREM</a>, which has enabled his passion for digital health research to influence the clinical landscape in the Greater Toronto Area.
        </p>
        <p>
          <span style="display:block; margin-top:1rem;"></span>
          His work has garnered multiple Best Paper Awards at top computer science venues like ACM CHI and ACM COMPASS, as well as significant attention from media outlets ranging from the BBC to Cosmo Magazine. 
          The technologies he has developed have led to big tech company acquisitions and startups alike, and he is currently a Faculty Fellow at the Toronto-based venture studio <a href="https://axl.vc/" target="_blank">AXL</a> to help accelerate Canadian innovation in human-centric AI.
        </p>
      </div>
    </div>
  </div>

  <!-- Graduate Students -->
  <div class="mb-5 students-section">
    <h2>Graduate Students</h2>
    {% include people_grid.html people=grads %}
  </div>

  <div class="mb-5 students-section">
    <h2>Undergraduate Students</h2>
    {% include people_grid.html people=undergrads %}
  </div>

</div>