---
layout: default
title: Our Team
---
{% assign pi = site.data.members | where:"id","mariakakis" | first %}
{% assign phd_grads = site.data.members | where:"active",true | where:"degree","PhD" %}
{% assign msc_grads = site.data.members | where:"active",true | where:"degree","MSc" %}
{% assign mscac_grads = site.data.members | where:"active",true | where:"degree","MScAC" %}
{% assign grads = phd_grads | concat: msc_grads | concat: mscac_grads %}
{% assign undergrads = site.data.members | where:"active",true | where:"degree","BS" %}

<div class="our-team-page">

  <h1>Our Team</h1>
  <div class="pi-section mb-5">
    <h2 class="pi-heading">The Principal Investigator</h2>
    <div class="row align-items-center">
      <div class="col-md-3 text-center pi-image-container">
        <img
          src="{{ site.baseurl }}{{ pi.image }}"
          alt="{{ pi.name }}"
          class="img-fluid pi-portrait"
        />
        <h3 class="pi-name">{{ pi.name }}</h3>
        <div class="persona-footer">
          {% include profile_badges.html member=pi%}
        </div>
      </div>

      <div class="col-md-9 pi-bio">
        <p>
          <span style="display:block; margin-top:1rem;"></span>
          Alex Mariakakis is an Associate Professor in the <a href="https://web.cs.toronto.edu/" target="_blank">Department of Computer
          Science</a> at the <a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>.
          As an Affiliate Scientist at <a href="https://www.kite-uhn.com/" target="_blank">KITE Research Institute</a> and an Education Faculty Affiliate within <a href="https://tcairem.utoronto.ca/" target="_blank">T-CAIREM</a>, he leverages his passion for digital health to influence the clinical landscape in the Greater Toronto Area.
          He is also currently a Faculty Fellow at <a href="https://axl.vc/" target="_blank">AXL</a>, a Toronto-based venture studio that aims to accelerate Canadian innovation in human-centric AI.
        </p>
        <p>
          <span style="display:block; margin-top:1rem;"></span>
          Alex is a recipient of the <a href="https://graphicsinterface.org/awards/early-career-researcher-award/" target="_blank">CHCCS HCI Early Career Researcher Award</a>. 
          His work has garnered multiple Best Paper Awards at top computer science venues like ACM CHI and ACM COMPASS.
          Beyond academic circles, his work has also attracted significant public interest by prominent international media outlets such as the <a href="https://www.bbc.com/news/av/technology-41114587" target="_blank">BBC</a> and <a href="https://www.newsweek.com/new-app-detects-concussions-just-looking-your-eyes-663218" target="_blank">Newsweek Magazine</a>. 
        </p>
      </div>
    </div>
  </div>

  <!-- Graduate Students -->
  <div class="mb-5 students-section">
    <h2>Graduate Students</h2>
    {% include people_grid.html people=grads %}
  </div>

  <div class="mb-5 students-section">
    <h2>Undergraduate Students</h2>
    {% include people_grid.html people=undergrads %}
  </div>

</div>