---
layout: default
title: Home
---
<div class="row">
  <div class="tagline">The Computational Health and Interaction (CHAI) Lab uses ubiquitous and emergent technologies to address problems related to people’s health and wellbeing.</div>
</div>

<!-- PEOPLE -->
{% assign members = site.data.members %}
<div class="row">
  <div class="col-md-8 text-justify">

    <!-- Faculty -->
    <div class="row">
      {% assign faculty = members | where:"id", "mariakakis" %}
      {% assign alex = faculty | first %}
      {% assign member = alex %}
      <h1>Faculty</h1>
      <div class="row">
        <div class="member-badge col-md-3 col-sm-4 col-xs-6">
          <div class="image"><a href="{{ member.website }}"><img src="{{site.url}}{{member.image}}"/></a></div>
        </div>
        <div class="member-badge col-md-9 col-sm-8 col-xs-6">
          <div class="member-details">
            <div class="member-name" style="text-align: left;"><a href="{{ member.website }}">{{ member.name }}</a></div>
          </div>
          <p>Alex Mariakakis is an Assistant Professor in the <a href="https://web.cs.toronto.edu">Department of Computer Science</a> at the <a href="https://www.utoronto.ca/">University of Toronto</a> and an Affiliate Scientist at <a href="https://technainstitute.com/">Techna</a>. He received his Ph.D. from the <a href="http://www.cs.washington.edu/">School of Computer Science and Engineering</a> at the <a href="http://www.washington.edu/">University of Washington</a>. Alex's work is published in top-tier venues in his field, including CHI and IMWUT. His work has also been featured by many media outlets (e.g., BBC, National Geographic, and USA Today). Alex is a fellow of the <a href="https://mhti.md2k.org/">mHealth Training Institute</a>. As a student, he was a recipient of the National Science Foundation Graduate Research Fellowship, the Qualcomm Innovation Fellowship, and the Gaetano Borriello Outstanding Student Award at UbiComp 2018.</p>
        </div>
      </div>
    </div>

    <!-- Get collections, including hack for getting all grads in same collection -->
    {% assign current_members = members | where:"active",true %}
    {% assign phds = current_members | where:"degree", "PhD" %}
    {% assign masters = current_members | where:"degree", "MSc" %}
    {% assign ugrads = current_members | where:"degree", "BS" %}

    {% assign grads = "" | split:"/" %}
    {% for phd in phds %}
      {% assign grads = grads | push: phd %}
    {% endfor %}
    {% for master in masters %}
      {% assign grads = grads | push: master %}
    {% endfor %}
    {% assign grads = grads | sort: 'id' %}

    {% include people_grid.html 
    people=grads title="Graduate Students" image=true
    %}
    
    {% include people_grid.html 
    people=ugrads title="Undergraduate Students" image=true
    %}
  </div>

  <div class="col-md-4" style="padding-left:50px;">
    <a class="twitter-timeline" data-theme="light" data-height="500px" href="https://twitter.com/chai_toronto?ref_src=twsrc%5Etfw">Loading tweets from @chai_toronto</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>