---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

@font-face {
  font-family: 'Instrument Sans Medium';
  src: url('fonts/InstrumentSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans Italic';
  src: url('fonts/InstrumentSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Instrument Sans SemiBold';
  src: url('fonts/InstrumentSans-SemiBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}


body {
  background: #fcfcfc;
  font: 16px/1.2 $lato;
  color: $grayDark;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

h1 {
  font-family: 'Instrument Sans Medium', sans-serif;
  font-size: 32px;
  font-weight: 300;

  margin-top: -4rem;
  margin-bottom: 1.5rem;

  @media (max-width: 768px) {
    font-size: 24px;
    margin-top: 0.5rem;
  }
}

h2 {
  font-family: 'Instrument Sans Medium', sans-serif;
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 300;
}

p {
  font-family: 'Instrument Sans Regular', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
}


a {
  color: $linkBlue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $linkBlue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.gmnoprint img {
  max-width: none;
}

blockquote {
  font-size: 24px;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

::-moz-selection {
  color: $black;
  background: $primaryBlue;
}
::selection {
  color: $black;
  background: $primaryBlue;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/****************/
/* PAGE CONTENT */
/****************/

.page-content {
  padding: 2rem;

  @media (max-width: 767px) {
    padding: 1rem;
  }

  h1 {
    text-align: left;

    @media (max-width: 768px) {
      text-align: center;
      font-size: 28px;
    }
    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 24px;
  }
}

#main.container {
  max-width: none !important;
  width: 100% !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  
  @media (max-width: 767px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

#nav.nav-container {
  max-width: none !important;
  width: 100% !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  max-width: none !important;
  width: 100% !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

/*********************/
/* MAIN LAYOUT */
/*********************/

#main {
  padding-top: 3rem;
  margin-top: 3rem;
  @media (max-width: 768px) {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
  }
}

.row.flex {
  display: flex;
  flex-wrap: wrap;
}

/*********************/
/* NAVBAR */
/*********************/
.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fcfcfc;
  margin-top: 10px;


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width:100%;

  }

  .navbar-brand {
    padding: 0 !important;
    margin-right: 10vw !important;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      height: auto !important;
      max-height: 100px;
      min-width: 200px;
      width: auto !important;
    }
  }

  .navbar-toggler {
    @media (min-width: 769px) {
      display: none !important;
    }

    @media (max-width: 768px) {
      cursor: pointer;
      display: block;
      padding: 10px;
      background: transparent;
      border: none;
      outline: none;
    }

    i {
      @media (max-width: 768px) {
        font-size: 24px;
        color: #333;
      }
    }
  }

  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;


    .nav-item.dropdown {
      position: relative;


      &:hover .dropdown-menu {
        display: block;
      }

      &:hover .nav-link,
      &:hover .dropdown-menu {
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
      }

      .nav-link {
        font-family: 'Instrument Sans Medium', sans-serif;
        display: inline-flex;
        align-items: center;
        padding: 20px 20px;
        color: $black !important;
        text-decoration: none;
        border-radius: 10px 10px 0 0;
        transition: box-shadow 0.2s ease;
        background: #fcfcfc;

        &.dropdown-toggle {
          &::after {
            content: "";
            display: inline-block;
            width: 0.6em;
            height: 0.6em;
            margin-left: 1em;
            box-sizing: border-box;
            background: transparent;
            border: none;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            transform: rotate(45deg);
            position: relative;
          }
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 0 !important;
        width: 100% !important;

        display: none;
        margin-top: -4px;
        border-radius: 0 0 10px 10px;
        background: #fcfcfc;
        padding: 0;
        z-index: 999;
        box-shadow: none;

        @media (max-width: 768px) {
          position: static;
          float: none;
          width: 100%;
          background-color: #f8f8f8;
          border: none;
          box-shadow: none;
          padding: 0;
          margin: 0;
        }

        .dropdown-item {
          font-family: 'Instrument Sans Medium', sans-serif;
          font-size: 16px;
          display: block;
          padding: 20px 20px;
          border-radius: 0;
          color: $black !important;
          text-decoration: none;
          transition: box-shadow 0.2s ease;

          @media (max-width: 768px) {
            padding: 10px 30px;
            font-size: 14px;
          }

          &:hover {
            text-decoration: none;
            box-shadow: none;
            background-color: #F4F4F4;
            border-radius: 10px 10px 10px 10px;
          }
        }
      }
    }


    .nav-item:not(.dropdown) {
      margin-right: 10px;

      .nav-link {
        font-family: 'Instrument Sans Medium', sans-serif;
        display: inline-flex;
        align-items: center;
        padding: 20px 20px;
        color: $black !important;
        text-decoration: none;
        border-radius: 10px 10px 0 0;
        transition: box-shadow 0.2s ease;
        background: #fcfcfc;

        &:hover,
        &:active {
          text-decoration: none;
          border-radius: 10px 10px 0 0;
          box-shadow: 0 2px 0px rgba(0,0,0,0.1);
        }
      }
    }
  }
}


@media (max-width: 768px) {
  #navbarNav {
    position: absolute;
    top: 100%;
    right: 16px;
    width: 250px;
    background: #fcfcfc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 10px 10px;
    z-index: 1000;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  #navbarNav.show {
    max-height: 500px;
  }

  #navbarNav .navbar-nav {
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  #navbarNav .nav-item {
    width: 100%;
    margin: 0;
  }

  #navbarNav .nav-link {
    padding: 12px 20px;
    width: 100%;
    display: block;
    font-size: 16px;
    border-radius: 0;
  }

  #navbarNav .dropdown-menu.show {
    display: block;
  }
  #navbarNav .nav-item.dropdown:hover .dropdown-menu {
    display: none;
  }

  #navbarNav .nav-item.dropdown .dropdown-menu.show {
    display: block;
  }

  button,
  input[type="button"],
  input[type="submit"],
  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }

}

/*********************/
/* FOOTER */
/*********************/

.footer-container {
  background-color: #fcfcfc;
  color: #000;
  padding: 0 0 20px 0;
  text-align: center;

  @media (max-width: 991px) {
    padding: 24px 16px !important;
    margin-top: 2rem !important;
  }

  .custom-footer-line {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
  }

  .first-row {

    @media (max-width: 991px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    h4 {
      font-size: 24px;
      margin-top: 1rem;
      margin-bottom: 1rem;

      @media (max-width: 991px) {
        margin-top: 0rem;
        margin-bottom: 0.75rem;
        text-align: center;
      }
    }

    .footer-logo-container {
      @media (max-width: 991px) {
        text-align: center;
        width: 45%;
        padding: 0 8px;
      }

      img {
        max-height: 150px !important;
        @media (max-width: 991px) {
          max-height: 120px !important;
        }
      }

      .mt-3 {
        @media (max-width: 991px) {
          margin-top: 0.75rem !important;
        }

        a i {
          font-size: 24px; 
          margin-right: 8px; 
          color: #000;

          @media (max-width: 991px) {
            font-size: 20px !important;
            margin-right: 12px !important;
          }
        }

        a:hover {
          text-decoration: none;
          i {
            color: #007974;
          }
          svg {
            fill: #007974;
          }
        }
      }
    }

    div {
      @media (max-width: 991px) {
        margin-bottom: 1.5rem;
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .location-info {
      @media (max-width: 991px) {
        width: 50%;
        padding: 0 8px;
      }

      p {
        margin-bottom: 0;
        font-size: 18px;

        @media (max-width: 991px) {
          text-align: center;
          line-height: 1.3;
          margin-bottom: 0.3rem;
          font-size: 16px;
        }
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }

    .quick-links {
      @media (max-width: 991px) {
        width: 100%;
        margin-top: 0rem;
      }

      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 2rem;

        li {
          margin-bottom: 10px;

          a {
            font-size: 18px;
            white-space: nowrap;
          }
        }
      }
    }

    .location-info, .quick-links {
      text-align: left;

      @media (max-width: 991px) {
        text-align: center;
      }
    }
  }

  .second-row {
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;
    }

    .bottom-left {
      text-align: left;
      
      @media (max-width: 991px) {
        width: 50%;

        p {
          font-size: 12px;
          margin-bottom: 12px;
        }
      }
    }

    .bottom-right {
      text-align: right;

      @media (max-width: 991px) {
        width: 50%;

        img {
          height: 30px !important;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@import "home";
@import "about_us";
@import "alumni";
@import "awards";
@import "our_team";
@import "current-research";
@import "publications";
@import "undergrad-grad";
@import "get_involved";
