---
layout: default
title: Graduate Students
---

<div class="grad-page">
  <h1>Get Involved – Graduate Students</h1>

  <div class="row mb-4 align-items-center top-section">
    <div class="col-md-5 top-image-col">
      <div class="top-image-container">
        <img src="{{ site.baseurl }}/images/get_involved/grad.png" alt="Graduate image" class="top-image" />
      </div>
    </div>
    <div class="col-md-7 top-text-col">
      <h2>Why should I consider the University of Toronto?</h2>
      <p>
        Our university is internationally renowned for its academic excellence, not just in computer science, but also in engineering, mathematics, and healthcare.
        The opportunity to work alongside experts from various domains in a highly collaborative environment is necessary for a topic like digital health where technical skills can only go so far.
        The presence of leading tech companies, startups, and other research institutions within the city also creates an ecosystem that encourages innovation.
        <br /><br />
        As a city, Toronto is world-renown for its multiculturalism.
        There are activities and communities available to people from all walks of life.
        From festivals showcasing global cuisines to various cultural events throughout the year, Toronto offers a rich tapestry of experiences that promote inclusivity and cultural exchange.
      </p>
    </div>
  </div>

  <!-- FAQ Section -->
  <div class="faq-section">
    <div class="faq-wrapper row no-gutters">
      <div class="col-md-6 faq-left">
        {% for item in site.data.faq_grad %}
          <div class="faq-panel{% if forloop.first %} selected{% endif %}" 
               data-question="{{ item.question | escape }}"
               data-answer="{{ item.answer | escape }}">
            {{ item.question }}
          </div>
        {% endfor %}
      </div>
      <div class="col-md-6 faq-right">
        {% assign first_faq = site.data.faq_grad | first %}
        <h3>{{ first_faq.question }}</h3>
        <p>
          {{ first_faq.answer }}
        </p>
      </div>
    </div>
  </div>

</div>

{% include faq_panel.html %}