<div class="people-grid alumni-grid">
	<div class="cards-wrapper">
	  {% for member in include.alumni %}
	  <div class="persona-card">
	    <div class="persona-card-inner">

	      <div class="persona-info">
	        <div class="persona-name">
	          {{ member.name }}
	        </div>
	        <div class="persona-degree">
	          {{ member.degree }},
	          {% if member.startyear != member.endyear %}
	            {{ member.startyear }} – {{ member.endyear }}
	          {% else %}
	            {{ member.startyear }}
	          {% endif %}
	          <br/>
	          {% if member.coadvisor and include.is_grad == 'True' %}
                (co-advised by {% include author_list.html authors=member.coadvisor %})
              {% endif %}
	        </div>
	        {% if include.is_grad == 'True' %}
	        	<div class="persona-description" style="padding: 0 0 10px 0">
	          		<b>Thesis Title:</b> {{ member.thesis }}
	          	</div>
	        	<div class="persona-description">
	          		<b>Current Position:</b> {{ member.now_at }}
	          	</div>
	        {% endif %}
	      </div>

	      <div class="persona-footer">
	        {% include profile_badges.html member=member %}
	      </div>

	    </div>
	  </div>
	  {% endfor %}
	</div>
</div>