{% capture winner_list %}
{% for winner in include.winners %}
{% assign winner_match = site.data.members | where: "id",winner.name %}
{% if winner_match.size >= 1 %}
{% assign matched_winner = winner_match | first %}
{% if matched_winner.website == nil %}
{{ matched_winner.name }}
{% else %}
<a href="{{matched_winner.website}}">{{ matched_winner.name }}</a>
{% endif %}
{% else %}
{{ winner.name }}
{% endif %}
 ({{ winner.year }})
{% if forloop.last %}{% else %}, {% endif %}
{% endfor %}
{% endcapture %}
  
{{ winner_list | strip_newlines }}