{% capture people_grid %}
{% if include.people.size > 0 %}
<h1>{{ include.title }}</h1>
<div class="row">
{% for member in include.people %}
  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">
      {% if member.website != nil %}<a href="{{ member.website }}">{% endif %}
        <img src="{{site.url}}{{member.image}}"/>
      {% if member.website != nil %}</a>{% endif %}
    </div>
    <div class="details">
      <div class="name">
        {% if member.website == nil %}
          {{ member.name }}
        {% else %}
          <a href="{{ member.website }}">{{ member.name }}</a>
        {% endif %}
      </div>
      {% if include.is_alum == true %}
        <div class="year">
          {{ member.startyear }} – {{ member.endyear }}
        </div>
        <div class="place">
          Now at {{ member.newplace }}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
{% endcapture %}
  
{{ people_grid }}