{% capture people_grid %}
{% if include.people.size > 0 %}
<div class="people-grid">
  <div class="cards-wrapper">
    {% for member in include.people %}
    <div class="persona-card">
      <div class="persona-card-inner">
        {% if member.search %}
          {% assign search_val = member.search | downcase %}
          {% if search_val == "industry" %}
            {% assign search_label = "Industry Position" %}
            {% assign search_bg = "#003479" %}
          {% elsif search_val == "postdoc" %}
            {% assign search_label = "Postdoc Position" %}
            {% assign search_bg = "#007974" %}
          {% elsif search_val == "intern" %}
            {% assign search_label = "Internship" %}
            {% assign search_bg = "#ff9800" %}
          {% else %}
            {% assign search_label = member.search %}
            {% assign search_bg = "#AE2192" %}
          {% endif %}
          <div class="persona-search-label">
            <div class="search-label-prefix">Looking for</div>
            <div class="search-label-position"
                 style="background-color: {{ search_bg }}; border-color: {{ search_bg }};">
              {{ search_label }}
            </div>
          </div>
        {% endif %}
        <div class="persona-image">
          {% if member.image %}
          <img src="{{ member.image }}" alt="{{ member.name }}">
          {% else %}
          <div class="placeholder-img"></div>
          {% endif %}
        </div>
        <div class="persona-info">
          <div class="persona-name">{{ member.name }}</div>
          <div class="persona-degree">
            {{ member.degree }}
            {% if member.coadvisor %}
              (co-advised by {% include author_list.html authors=member.coadvisor %})
            {% endif %}
          </div>
          <div class="persona-description">
            {% if member.shortbio %}
              {{ member.shortbio }}
            {% endif %}
          </div>
        </div>
        <div class="persona-footer">
          {% include profile_badges.html member=member%}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endcapture %}
{{ people_grid }}