{% assign years = include.people | group_by: "startyear" %}
{% assign years_sorted = years | sort: "name" %}

<!-- Generate the grid -->
{% capture people_grid %}
{% if include.people.size > 0 %}
<div class="row">
<h1>{{ include.title }}</h1>
</div>

<div class="row flex">
{% for year in years_sorted %}
  {% assign members = year.items | sort: "name" %}
  {% for member in members %}
    <div class="member-badge col-xs-6 col-sm-4 col-md-3">
      <!-- Image -->
      {% if include.image %}
        {% if member.website != nil %}<a href="{{ member.website }}">{% endif %}
          <img src="{{ member.image }}" alt="{{ member.id }}"/>
        {% if member.website != nil %}</a>{% endif %}
      {% endif %}

      <div class="member-details">
        <!-- Name -->
        <div class="member-name">
          {% if member.website == nil %}
            {{ member.name }}
          {% else %}
            <a href="{{ member.website }}">{{ member.name }}</a>
          {% endif %}
        </div>

        <!-- Coadvisor -->
        <div class="member-coadvisor">
          {% if member.coadvisor != nil %}
            Coadvisor: <span class="authors">{% include author_list.html authors=member.coadvisor %}</span>
          {% endif %}
        </div>

        <!-- Degree and Years -->
        <div class="member-year">
          {{ member.degree }},
          {% if member.active == true %}
            {{ member.startyear }} – present
          {% else %}
            {% if member.startyear == member.endyear %}
              {{ member.startyear }}
            {% else %}
              {{ member.startyear }} – {{ member.endyear }}
            {% endif %}
          {% endif %}
        </div>

        <!-- Alum Destination -->
        {% if member.active == false and (member.degree == 'PhD' or member.degree == 'MSc') %}
          <div class="member-place">
            Current Position: {{ member.newplace }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endfor %}
</div>
{% endif %}
{% endcapture %}
  
{{ people_grid }}