<!-- Years -->
{% assign years = "" | split: "" %}
{% for pub in site.publications %}
	{% assign pubYear = pub.date | date: '%Y' %}
	{% unless years contains pubYear %}
	{% assign years = years | push: pubYear %}
	{% endunless %}
{% endfor %}
{% assign years = years | sort | reverse %}

<!-- Health Topics -->
{% assign healthTopics = "" | split: "" %}
{% for pub in site.publications %}
	{% if pub.health_topic %}
	{% for topic in pub.health_topic %}
	{% unless healthTopics contains topic %}
	{% assign healthTopics = healthTopics | push: topic %}
	{% endunless %}
	{% endfor %}
	{% endif %}
{% endfor %}
{% assign healthTopics = healthTopics | sort %}

<!-- Venues -->
{% assign venues = "" | split: "" %}
{% for conf in site.data.venues %}
	{% assign venue_split = conf | split: "(" %}
	{% assign venue_split = venue_split[1] | split: ")" %}
	{% assign venues = venues | push: venue_split[0] %}
{% endfor %}
{% assign venues = venues | sort %}

<!-- Leads -->
{% assign all_lead_ids = "" | split: "" %}
{% for project in site.projects %}
	{% if project.leads %}
		{% for lead in project.leads %}
			{% unless all_lead_ids contains lead %}
				{% assign all_lead_ids = all_lead_ids | push: lead %}
			{% endunless %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% assign all_lead_ids = all_lead_ids | sort %}

<!-- Contributors -->
{% assign all_author_ids = "" | split: "" %}
{% for pub in site.publications %}
	{% if pub.authors %}
		{% for author in pub.authors %}
			{% unless all_author_ids contains author %}
				{% assign all_author_ids = all_author_ids | push: author %}
			{% endunless %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% assign all_author_ids = all_author_ids | sort %}

<!-- Themes -->
{% assign themes = "" | split: "" %}
{% assign themes = themes | push: 'Active Sensing' %}
{% assign themes = themes | push: 'Passive Sensing' %}
{% assign themes = themes | push: 'Design' %}

<!-- Skills -->
{% assign skills = "" | split: "" %}
{% for pub in site.publications %}
	{% if pub.skills %}
		{% for skill in pub.skills %}
			{% unless skills contains skill %}
				{% assign skills = skills | push: skill %}
			{% endunless %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% assign skills = skills | sort %}

<!-- Devices -->
{% assign devices = "" | split: "" %}
{% for pub in site.publications %}
	{% if pub.device %}
		{% for dev in pub.device %}
			{% unless devices contains dev %}
				{% assign devices = devices | push: dev %}
			{% endunless %}
			{% endfor %}
	{% elsif pub.devices %}
		{% for dev in pub.devices %}
			{% unless devices contains dev %}
				{% assign devices = devices | push: dev %}
			{% endunless %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% assign devices = devices | sort %}

<!-- Awards -->
{% assign awards = "" | split: "" %}
{% for pub in site.publications %}
	{% if pub.award %}
		{% unless awards contains pub.award %}
			{% assign awards = awards | push: pub.award %}
		{% endunless %}
	{% endif %}
{% endfor %}
{% assign awards = awards | sort %}