<!-- Generate the grid -->
{% capture project_grid %}
<div class="row">
  <h2 id="{{ include.id }}">{{ include.title }}</h2>
  <p>{{ include.description }}</p>
</div>

<div class="row flex">
  {% for project in include.projects %}
    <div class="project-badge col-xs-12 col-sm-6 col-md-4">
      <!-- Image -->
      <div class="project-pic">
        <img src="{{ project.thumbnail }}" alt="{{ project.title }}"/>
      </div>

      <div class="project-details">
        <!-- Title -->
        <div class="project-title">{{ project.title }}</div>

        <!-- Lead(s) -->
        <div class="project-lead"><h3>Project Lead(s):</h3> {% include author_list.html authors=project.leads %}</div>

        <!-- Goal -->
        <div class="project-goal"><p><h3>Goal:</h3> {{ project.description }}</p></div>
      </div>
    </div>
  {% endfor %}
</div>
{% endcapture %}
  
{{ project_grid }}