<!-- Compute number of items to show -->
{% assign sorted_pubs = site.publications | sort: 'date' | reverse %}
{% if include.num_items == -1 %}
  {% assign num_items = sorted_pubs.size %}
{% else %}
  {% assign num_items = include.num_items %}
{% endif %}

<!-- Generate the news list -->
{% capture pubs_list %}
<ul>
{% for pub in sorted_pubs limit:num_items %}
  <li>
    {{ pub.date | date: '%B %d, %Y' }}: 
    <a href="{{ pub.link }}">{{ pub.title }}</a>
  </li>
{% endfor %}
</ul>
{% endcapture %}
  
{{ pubs_list }}