@import "variables";

@font-face {
	font-family: 'Instrument Sans Regular';
	src: url('fonts/InstrumentSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Instrument Sans Medium';
	src: url('fonts/InstrumentSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@media (max-width: 767px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.about-us-page {

	h2 {
		font-family: 'Instrument Sans Medium', sans-serif;
		font-size: 25px;
		margin-bottom: 1rem;
		font-weight: 300;

		@media (max-width: 767px) {
			font-size: 22px;
			text-align: center;
			margin-top: 1.5rem;
		}

		@media (max-width: 480px) {
			font-size: 20px;
		}
	}

	.culture-heading {
		@media (max-width: 767px) {
			margin-top: 0 !important;
		}
	}

	p {
		font-family: 'Instrument Sans Regular', sans-serif;
		font-size: 18px;
		line-height: 1.4;
		text-align: left;

		@media (max-width: 767px) {
			font-size: 16px;
			text-align: justify;
			padding: 0 10px;
		}
	}

	img.rounded {
		border-radius: 8px;

		@media (max-width: 767px) {
			max-width: 90%;
			margin: 0 auto;
		}
	}

	.row {
		margin-bottom: 1rem;

		@media (max-width: 767px) {
			margin-bottom: 3rem;
		}

		@media (max-width: 480px) {
			margin-bottom: 2rem;
		}
	}

	.row img {
		@media (max-width: 767px) {
			margin-top: 0;
			margin-bottom: 1rem;
		}
	}

	.location-row {
		@media (max-width: 767px) {
			flex-direction: column-reverse;
		}

		iframe.map-iframe {
			margin-top: 2rem;

			@media (max-width: 767px) {
				height: 300px;
				margin-top: 1rem;
				margin-bottom: 1.5rem;
			}

			@media (max-width: 480px) {
				height: 250px;
			}
		}
	}

	#cultureCarousel {
		@media (max-width: 767px) {
			margin-top: 1rem;
		}
	}

	.img-fluid {
		@media (max-width: 767px) {
			display: block;
			margin: 0 auto;
		}
	}
}