@import "variables";

.alumni-page {
  p {
    margin-bottom: 2rem;

    @include breakpoint-sm-down {
      font-size: 16px;
      text-align: center;
    }
  }

  .alumni-section {
    .section-heading {
      @include breakpoint-sm-down {
        text-align: center;
        font-size: 24px;
        margin-bottom: 1.5rem;
      }

      @include breakpoint-xs-down {
        font-size: 22px;
      }
    }
  }
}