.project-badge {
  display: block;
  margin-bottom: 20px;

  .project-pic {
    max-width: 100%;
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      width: 100%;
      vertical-align: middle;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  .project-details {
    font-size: 12pt;
    text-align: center;
    word-break: keep-all;
    .project-title {
      font-size: 16pt;
      display: block;
    }
    .project-lead {
      margin-top: 5px;
    }
    .project-goal {
      margin-top: 5px;
    }
  }
}
