.current-research-page {
  .research-themes-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .theme-card {
      width: 30%;
      box-sizing: border-box;
      border: 1px solid $grayLighter;
      border-radius: 12px;
      background: $white;
      text-align: center;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint-md-down {
        width: 100%;
      }

      img {
        max-height: 150px;
        width: auto;
        margin-top: -20px;
      }

      h2 {
        margin-bottom: 0.5rem;
        font-size: 20px;

        @include breakpoint-md-down {
          font-size: 18px;
        }
        @include breakpoint-xs-down {
          font-size: 16px;
          margin-bottom: 0.3rem;
        }
      }

      p {
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
        @include breakpoint-md-down {
          text-align: justify;
          font-size: 16px;
        }
        @include breakpoint-xs-down {
          font-size: 14px;
        }
      }
    }
  }

  .divider {
    h1 {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
    .custom-divider-line {
      height: 1.5px;
      background-color: $blackTransparent15;
      border: none;
    }
  }

  .research-content-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .project-card {
      border: 1px solid $grayLighter;
      border-radius: 12px;
      background: $white;
      display: flex;
      flex-direction: column;
      width: 45%;

      @include breakpoint-md-down {
        width: 100%;
      }

      .project-image {
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 8px 8px 0 0;
        }
      }

      .project-card-content {
        padding: 20px;

        h2 {
          font-weight: 500;
          margin-bottom: 0.5rem;
          font-size: 20px;
          font-family: "Instrument Sans Medium", sans-serif;
          font-weight: 500;
          @include breakpoint-md-down {
            font-size: 18px;
          }
          @include breakpoint-xs-down {
            font-size: 16px;
            margin-bottom: 0.3rem;
          }
        }

        p {
          margin-top: 0;
          margin-bottom: 5px;

          @include breakpoint-md-down {
            font-size: 16px;
          }
          @include breakpoint-md-down {
            font-size: 14px;
          }
        }
      }
    }

    &.equal-height {
      .project-card {
        height: 100%;
      }
    }
  }
}