@media (max-width: $screen-xs-max){
.project-badge.col-xs-1:nth-child(12n+1) {
    clear: both;
}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
.project-badge.col-sm-2:nth-child(6n+1) {
    clear: both;
}
}
@media (min-width: $screen-md-min){
.project-badge.col-md-3:nth-child(4n+1) {
    clear: both;
}
}

.project-badge {
  display: block;
  margin-bottom: 20px;

  .project-pic {
    max-width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }

  .project-details {
    font-size: 12pt;
    text-align: center;
    word-break: keep-all;
    .project-title {
      font-size: 16pt;
      display: block;
    }
    .project-lead {
      margin-top: 5px;
    }
    .project-goal {
      margin-top: 5px;
    }
  }
}
