
.home-page {
  margin-top: -3rem;

  @media (max-width: 768px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    padding-top: 0;
    margin-top: -1.5rem;
  }

  .hero-section {
    position: relative;
    margin-bottom: 2rem;

    @media (max-width: 991px) {
      margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
      text-align: center;
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0rem;
    }

    .home-tagline {
      max-width: 800px;
      margin-top: 0rem;
      margin-bottom: 1rem;
      font-family: 'Nunito', sans-serif;
      font-size: 45px;
      font-weight: 400;
      line-height: 1.2;
      color: #000;
      text-align: left;

      @media (max-width: 991px) {
        font-size: 36px;
        margin-top: 0.75rem;
        text-align: center;
      }

      @media (max-width: 480px) {
        font-size: 28px;
        margin-top: 0.5rem;
      }
    }

    .sub-tagline {
      font-family: 'Instrument Sans Regular', sans-serif;
      font-size: 20px;
      line-height: 1.4;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #333;
      text-align: left;

      @media (max-width: 991px) {
        font-size: 18px;
        text-align: justify;
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
      }

      @media (max-width: 480px) {
        font-size: 16px;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }
    }

    .button-container {
      text-align: left;
      margin-top: 1rem;

      @media (max-width: 991px) {
        text-align: center;
        margin-top: 0.5rem;
      }

      @media (max-width: 480px) {
        margin-top: 0.25rem;
      }
    }

    .see-work-btn {
      font-family: 'Instrument Sans Regular', sans-serif;
      font-size: 18px;
      font-weight: 600;
      padding: 1.3rem 2rem;
      background-color: #008F8C;
      border: none;
      border-radius: 20px;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.2s ease;
      display: inline-block;

      @media (max-width: 768px) {
        font-size: 16px;
        padding: 0.8rem 1.6rem;
        margin-bottom: 0.75rem;
      }

      @media (max-width: 480px) {
        padding: 0.7rem 1.4rem;
        margin-bottom: 0.5rem;
      }

      &:hover {
        background-color: #007974;
        text-decoration: none;
        color: #fff;
      }

      &:focus {
        background-color: #005F5C;
        text-decoration: none;
        color: #fff;
      }
    }

    .hero-img-container {
      width: 100%;
      text-align: center;
      padding-top: 0;

      @media (max-width: 768px) {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }

      @media (max-width: 480px) {
        margin-bottom: 0.25rem;
      }
    }

    .hero-img {
      max-width: 400px;
      margin-left: -15%;
      height: auto;
      width: auto;
      display: inline-block;

      @media (max-width: 768px) {
        max-width: 60%;
        margin: 0 auto;
      }
    }

    .carousel-inner .item img {
      margin-left: -15%;
      height: 400px !important;
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
      display: block;
      margin: 0 auto;

      @media (max-width: 991px) {
        height: 400px !important;
      }

      @media (max-width: 768px) {
        width: 95% !important;
        height: 350px !important;
      }

      @media (max-width: 480px) {
        height: 250px !important;
      }
    }

    .carousel-control.left,
    .carousel-control.right {
      background-image: none !important;
      background: none !important;
      filter: none !important;
      color: #008F8C !important;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
      text-shadow: none !important;
    }
  }

  .news-section {
    
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      margin-top: 0 !important;
      padding: 10px !important;
    }

    h2 {
      font-family: 'Instrument Sans Regular', sans-serif;
      font-size: 28px;
      margin-bottom: 1.5rem;

      @media (max-width: 768px) {
        font-size: 24px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.75rem;
      }
    }
  }

  .funded-by-section {
    margin-bottom: -2.5rem;
    h2 {
      font-family: 'Instrument Sans Regular', sans-serif;
      font-size: 28px;
      margin-bottom: 1.5rem;

      @media (max-width: 768px) {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0.75rem;
      }
    }

    .logo-scroller {
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    .scroller-inner {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .logo-item {
      flex: 0 0 auto;
      padding: 0;
      text-align: center;
    }

    .sponsor-logo {
      max-height: 75px;
      height: auto !important;
      margin: 0rem 2rem;
      width: auto;
    }
  }

  @keyframes scroll-logos {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}