
.home-page {
  margin-top: -3rem;

  @include breakpoint-md-down {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
    padding-top: 0;
    margin-top: 0;
  }

  .hero-section {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;

    @include breakpoint-md-down {
      margin-bottom: 1rem;
    }

    @include breakpoint-md-down {
      text-align: center;
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0rem;
    }

    .carousel-holder {
      padding-right: 3rem;
      @include breakpoint-md-down {
        padding-right: 0rem;
      }
    }

    .carousel-inner .item img {
      margin-left: -15%;
      height: 400px !important;
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
      display: block;
      margin: 0 auto;

      @include breakpoint-md-down {
        height: 400px !important;
      }

      @include breakpoint-md-down {
        height: 350px !important;
      }

      @include breakpoint-xs-down {
        height: 250px !important;
      }
    }

    .carousel-control.left,
    .carousel-control.right {
      background-image: none !important;
      background: none !important;
      filter: none !important;
      color: $primaryTeal !important;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
      text-shadow: none !important;
    }

    .home-tagline {
      max-width: 800px;
      margin-top: 0rem;
      margin-bottom: 1rem;
      font-family: 'Nunito', sans-serif;
      font-size: 45px;
      font-weight: 400;
      line-height: 1.2;
      color: $black;
      text-align: left;

      @include breakpoint-md-down {
        font-size: 36px;
        margin-top: 0.75rem;
        text-align: center;
      }

      @include breakpoint-xs-down {
        font-size: 28px;
        margin-top: 0.5rem;
      }
    }

    .sub-tagline {
      font-family: $instrumentRegular;
      font-size: 20px;
      line-height: 1.4;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $grayDarker;
      text-align: left;

      @include breakpoint-md-down {
        font-size: 18px;
        text-align: justify;
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
      }

      @include breakpoint-xs-down {
        font-size: 16px;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }
    }

    .button-container {
      text-align: left;
      margin-top: 1rem;

      @include breakpoint-md-down {
        text-align: center;
        margin-top: 0.5rem;
      }

      @include breakpoint-xs-down {
        margin-top: 0.25rem;
      }
    }

    .see-work-btn {
      font-family: $instrumentRegular;
      font-size: 18px;
      font-weight: 600;
      padding: 1.3rem 2rem;
      background-color: $primaryTeal;
      border: none;
      border-radius: 20px;
      color: $white;
      text-decoration: none;
      transition: background-color 0.2s ease;
      display: inline-block;

      @include breakpoint-md-down {
        font-size: 16px;
        padding: 0.8rem 1.6rem;
        margin-bottom: 0.75rem;
      }

      @include breakpoint-xs-down {
        padding: 0.7rem 1.4rem;
        margin-bottom: 0.5rem;
      }

      &:hover {
        background-color: $primaryTealDark;
        text-decoration: none;
        color: $white;
      }

    }
  }

  .news-section {
    
    margin-bottom: 1rem;

    @include breakpoint-md-down {
      margin-top: 0 !important;
      padding: 10px !important;
    }

    h2 {
      font-family: $instrumentRegular;
      font-size: 28px;
      margin-bottom: 1.5rem;

      @include breakpoint-md-down {
        font-size: 24px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.75rem;
      }
    }
  }

  .funded-by-section {
    margin-bottom: -2.5rem;
    h2 {
      font-family: $instrumentRegular;
      font-size: 28px;
      margin-bottom: 1.5rem;

      @include breakpoint-md-down {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0.75rem;
      }
    }

    .logo-scroller {
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    .scroller-inner {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .logo-item {
      flex: 0 0 auto;
      padding: 0;
      text-align: center;
    }

    .sponsor-logo {
      max-height: 75px;
      height: auto !important;
      margin: 0rem 2rem;
      width: auto;
    }
  }

  @keyframes scroll-logos {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}