.grad-page, .undergrad-page {
  .top-section {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint-md-down {
      display: block;
    }

    /* Override container padding if needed */
    .top-image-col {
      padding-left: 0 !important;
      padding-right: 0 !important;

      @include breakpoint-md-down {
        margin-bottom: 1.5rem;
      }

      .top-image-container {
        width: 90%;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
        margin-left: 10px;

        @include breakpoint-md-down {
          width: 100%;
          margin-left: 0;
          border-radius: 12px;
        }

        img.top-image {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
        }
      }
    }

    .top-text-col {
      h1 {
        font-size: 32px;
        margin-bottom: 0.5rem;
        text-align: left;
      }

      h2 {
        font-size: 25px;
        margin-bottom: 1rem;
        text-align: left;

        @include breakpoint-md-down {
          margin-top: 1rem;
          font-size: 22px;
          text-align: center;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 1rem;
        text-align: left;

        @include breakpoint-md-down {
          text-align: justify;
          font-size: 15px;
        }
      }
    }
  }

  .faq-section {
    margin-top: 1rem;

    @include breakpoint-md-down {
      margin-top: 1rem;
    }

    .faq-wrapper {
      border: 1px solid $grayLightest;
      border-radius: 5px;
      overflow: hidden;
      display: flex;

      @include breakpoint-md-down {
        flex-direction: column;
        border: none;
      }
    }

    .faq-left {
      padding: 1rem;
      background-color: $white;

      @include breakpoint-md-down {
        padding: 0;
        margin-bottom: 1.5rem;
      }

      .faq-panel {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.75rem 1rem;
        border-bottom: 1px solid $grayLightest;
        font-size: 20px;
        color: $grayDarker;
        cursor: pointer;

        @include breakpoint-md-down {
          font-size: 16px;
          padding: 0.75rem 0.75rem;
          border: 1px solid $grayLightest;
          border-radius: 5px;
          margin-bottom: 0.5rem;
        }

        &:last-child {
          border-bottom: none;

          @include breakpoint-md-down {
            border-bottom: 1px solid $grayLightest;
            margin-bottom: 0;
          }
        }

        /* Right arrow */
        &::after {
          content: "\276F";
          font-size: 16px;
          color: $grayLight;
          margin-left: auto;

          @include breakpoint-xs-down {
            font-size: 14px;
          }
        }

        &:hover {
          background-color: $grayHover;
        }

        &.selected {
          &::before {
            background-color: $primaryTeal;
          }

          &::after {
            color: $primaryTeal;
          }

          @include breakpoint-md-down {
            background-color: $grayBackground;
            border-color: $primaryTeal;
          }
        }
      }
    }

    .faq-right {
      padding: 2rem;
      background-color: $grayBackground;
      color: $grayDarker;
      border-left: 1px solid $grayLightest;

      @include breakpoint-md-down {
        padding: 1.5rem;
        border: 1px solid $grayLightest;
        border-radius: 5px;
        border-color: $primaryTeal;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;

        @include breakpoint-sm-down {
          font-size: 18px;
          text-align: center;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5;

        @include breakpoint-md-down {
          text-align: justify;
          font-size: 15px;
        }
      }
    }
  }
}