<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    
    <script type="text/javascript" src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/bower_components/jquery-migrate/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    {{ page.extra_header }}
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/chai_banner.png" alt="The Computational Health and Interaction lab banner"></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/current_research">Current Research</a></li>
            <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
            <li><a href="{{ site.baseurl }}/awards_alumni">Awards and Alumni</a></li>
            <li><a href="{{ site.baseurl }}/get_involved">Get Involved</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer container">
      <footer class="footer">
        <div class="row">
          <div class="col-xs-6 text-left"><a href="https://web.cs.toronto.edu" target="_blank"><img src="{{ site.baseurl }}/images/uoft_cs.png" alt="Logo for the University of Toronto's Department of Computer Science"/></a></div>
        </div>
      </footer>
    </div>

    {% include analytics.html %}
    {{ page.extra_js }}
  </body>
</html>
