---
layout: page
title: Awards and Alumni
---
<!-- Awards -->
{% assign sorted_awards = site.data.awards | sort: 'award' %}
<div class="row">
  <h1>Awards and Distinctions</h1>
  {% for award in sorted_awards %}
    <b>{{ award.award }}</b>: {% include award_list.html winners=award.winners %} <br/>
  {% endfor %}
</div>
<br/>

<!-- Fellowships -->
{% assign sorted_fellowships = site.data.fellowships | sort: 'award' %}
<hr />
<div class="row">
  <h1>Student Scholarships and Fellowships</h1>
  {% for award in sorted_fellowships %}
    <b>{{ award.award }}</b>: {% include award_list.html winners=award.winners %} <br/>
  {% endfor %} 
</div>

<!-- Best Papers -->
<!-- {% assign sorted_pubs = site.publications | sort: 'date' | reverse | where_exp:"pub","pub.award.size > 0 " %} -->
<!-- <hr />
<div class="row">
  <h1>Best Paper / Honorable Mention Awards</h1>
    {% for pub in sorted_pubs reversed %}
    <div class="row publication-badge">
      <div class="publication-info col-md-10 col-sm-9 col-xs-12">
        <a href="{{ pub.url }}"><b>{{ pub.title }}</b></a>
        <p>{% include author_list.html authors=pub.authors %}<br />
          <i>{{ pub.venue }}</i>{% if pub.award %}, <font color="red">{{ pub.award }}</font>{% endif %}
          <br/>
        </p>
      </div>
    </div>
  {% endfor %} 
</div> -->

<!-- Alumni -->
{% assign past_members = site.data.members | where:"active",false %}
{% assign phd_alumni = past_members | where:"degree", "PhD" %}

{% assign msc_alumni = past_members | where: "degree", "MSc" %}
{% assign mscac_alumni = past_members | where: "degree", "MScAC" %}
{% assign masters_alumni = msc_alumni | concat: mscac_alumni %}

{% assign ugrad_alumni = past_members | where:"degree", "BS" %}

<!-- <hr /> -->
{% include people_grid.html 
people=phd_alumni 
title="PhD Alumni" 
current_or_alum="alum"
%}

<hr />
{% include people_grid.html 
people=masters_alumni 
title="Masters Alumni" 
current_or_alum="alum"
%}

<hr />
{% include people_grid.html 
people=ugrad_alumni 
title="Undergraduate Alumni" 
current_or_alum="alum"
%}